.custom-navbar {
    height: 80px;
}

.navbar-logo {
    height: 70px;
    width: 70px;
}

.nav-item {
    font-size: medium;
    font-weight: 500;
    padding-left: 40px;
    margin-right: 0px;
}

/* Responsive tweaks */
@media (max-width: 992px) {
  .custom-navbar {
    height: auto;
    padding: 10px 0;
  }

  .navbar-nav {
    margin-top: 10px;
  }

  .navbar-logo {
    height: 50px;
    width: 50px;
  }
}

